:root {
  --bg: #1a1e2d;
  --green: #a5ea9b;
  --pink: #ff61d8;
  --blue: #569cfa;
  --orange: #ffcc81;
  --cyan: #7ed1e2;
}

body {
  height: 100vh;
  width: 100vw;
  background: var(--bg);
  display: flex;
  place-content: center;
  align-items: flex-end;
  overflow: hidden;
}

.container {
  width: 80vw;
  height: 80vh;
}
.container svg {
  height: 100%;
  width: 100%;
  overflow: visible;
}

#bongo-cat {
  fill: var(--bg);
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-width: 4;
}
#bongo-cat .laptop-cover,
#bongo-cat .headphone .band {
  fill: none;
}
#bongo-cat .paw, #bongo-cat .head {
  stroke: var(--orange);
}
#bongo-cat .laptop-keyboard {
  stroke-width: 2;
}
#bongo-cat .terminal-code {
  stroke-width: 5;
}
#bongo-cat .music .note,
#bongo-cat .laptop-base,
#bongo-cat .laptop-cover,
#bongo-cat .paw .pads {
  stroke: var(--pink);
}
#bongo-cat .table line,
#bongo-cat .headphone .band,
#bongo-cat .headphone .speaker path:nth-child(3) {
  stroke: var(--green);
}
#bongo-cat .terminal-frame,
#bongo-cat .laptop-keyboard,
#bongo-cat .headphone .speaker path:nth-child(2) {
  stroke: var(--blue);
}
#bongo-cat .terminal-code,
#bongo-cat .headphone .speaker path:first-child {
  stroke: var(--cyan);
}

/* Countdown */

@import url('https://fonts.googleapis.com/css?family=Major+Mono+Display');
.holder {
  position: absolute;
  background-color: transparent;
  left: 0%;
  top: 0%;
  width: 100%;
  height: 100%;
}
.new-year {
  font-family: 'Major Mono Display', monospace;
  color: red;
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 10%;
  width: 100%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}
.year {
  position: relative;
  left: 50%;
  display: table;
  font-size: 6em;
  transform: translateX(-50%);
}
.digit {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  position: relative;
  opacity: 0;
}
.controls {
  margin-top: 30px;
}
.control {
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 0.8em;
  border-left: 1px solid red;
  opacity: 0;
  position: relative;
  top: 100px;
}
.control:first-child {
  border-left: none;
}